.selected-option {
  padding: 0.5rem 0rem;
  min-width: fit-content;
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.reset {
  height: 3rem;
  width: 8rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: black;
  cursor: pointer;
}
.selection-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
}
.selection-container::-webkit-scrollbar {
  width: 0.25rem;
}
.selection-container::-webkit-scrollbar-track {
  background-color: black;
  border-style: solid;
  border-width: 0.75rem;
  border-color: white;
  border-radius: 2rem;
}
.selection-container::-webkit-scrollbar-thumb {
  border-style: solid;
  border-radius: 100vw;
  border-width: 0.65rem;
  border-color: white;
  /* background-color: aquamarine; */
  background: linear-gradient(45deg, #0575e6, #00f260);
}
.selection-container::-webkit-scrollbar-thumb:hover {
  border-width: 0.55rem;
  transition: 1s;
}
.selection-container li {
  height: 2.5rem;
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}
.selection-container li p {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
}
.selection-container li button {
  display: flex;
  align-items: center;
  border-style: none;
  cursor: pointer;
  background-color: white;
}
.selection-container li button .cancel-icon {
  font-size: 1.5rem;
  color: #999;
}
.reset:hover {
  color: rgb(34, 255, 152);
  transition: 0.5s;
}
.selection-container li button:hover > .cancel-icon {
  color: black;
  transition: 0.25s;
}
