.icon-button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.cart-icon {
  background-color: transparent;
  font-size: 2.4rem;
  color: #009ec2; /* fallback for old browsers */
}

/* Hover on cart button */
.cart-icon:hover {
  color: #0abf53;
  transform: scale(1.25);
  transition: 00.35s;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .cart-icon {
    font-size: 5vmin;
  }
}
