.container {
  width: 23rem;
  height: 42rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1%;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
.container:hover {
  border-color: rgba(0, 0, 0, 0.274);
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: -3px 3px 20px -6px #000000;
  border: 0.1rem solid rgb(139, 139, 139);
}

.image-box {
  width: 100%;
  height: 73%;
  overflow: hidden;
}
.image-box img {
  height: 100%;
  width: 100%;
}
.headline-box {
  height: 4%;
  padding-inline: 1rem;
  text-align: center;
  overflow: hidden;
}
.headline-box span {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
}
.price-box {
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.price-box .final {
  font-size: 1.5rem;
  font-weight: 600;
}
.price-box .original {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: line-through;
}
.price-box .offer {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255, 27, 76);
}
.conatiner-buttons {
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.cart-button-1 {
  width: 25%;
  text-align: center;
}
.cart-button-2 {
  width: 25%;
  text-align: center;
}
/* responsive breakpoint */
/* responsive css style  */
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
@media (max-width: 516.98px) {
  .container {
    height: 80vw;
    width: calc(50vw - 1px);
  }
  .container:hover {
    all: unset;
  }
  .headline-box span {
    font-size: 2vmin;
  }
  .price-box .final {
    font-size: 2.5vmin;
  }
  .price-box .original {
    font-size: 2.5vmin;
  }
  .price-box .offer {
    font-size: 2.5vmin;
  }
}
