.container {
  padding-inline: 4rem;
  position: fixed;
  top: 0px;
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}
.container h1 {
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}
.container h1 span {
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.button-box {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.button-box div {
  background-color: transparent;
}
.button-box div:hover {
  color: rgb(53, 255, 104);
  transition: 0.75s;
}

.whilist-icon {
  font-size: 3rem;
}
.cart-icon {
  font-size: 3rem;
}
.profile-icon {
  font-size: 3rem;
}

/* responsive css style  */
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    padding-inline: 3rem;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding-inline: 2rem;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding-inline: 3rem;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */

@media (min-width: 320px) and (max-width: 575.98px) {
  .container {
    height: 5rem;
    padding-inline: 2rem;
  }
  .container h1 {
    font-size: 3rem;
  }
  .container h1 span {
    font-size: 3rem;
  }
  .button-box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-inline: 1.5rem;
    width: 100vw;
    height: 5rem;

    border-top: 1px solid black;
  }
  .button-box div {
    padding-block: unset;
  }
}
/* // X-Small devices (portrait phones, less than 320px) */
@media (max-width: 319.98px) {
  .container {
    padding-inline: 1rem;
  }
  .container h1 {
    font-size: 2.5rem;
  }
  .container h1 span {
    font-size: 2.5rem;
  }
  .button-box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-inline: 1rem;
    width: 100vw;
    height: 5rem;

    border-top: 1px solid black;
  }
}
