.product-container {
  margin-top: 9rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: white;
}
.image-section {
  height: 52rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  background-color: white;
}
.image-portion {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: white;
}
.image-slider {
  height: 100%;
  width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  background-color: white;
}
/* .image-slider::-webkit-scrollbar {
  width: 1.35rem;
}
.image-slider::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0.35rem;
  border-color: white;
  border-radius: 0vw;
}
.image-slider::-webkit-scrollbar-thumb {
  border-style: solid;
  border-radius: 0vw;
  border-width: 0.3rem;
  border-color: white;

  background: linear-gradient(45deg, #0575e6, #00f260);
}
.image-slider::-webkit-scrollbar-thumb:hover {
  border-width: 0.25rem;
  transition-duration: 2000ms;
} */

.image-slider div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image-slider div:hover {
  opacity: 0.75;
}
.image-slider div img {
  width: 100%;
  height: 100%;
}
.image-loader {
  height: 100%;
  width: 3rem;
  border-right: 0.3rem solid black;
}
.slide-area {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}
.slide-area div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  transition: all 1s step-end;
}
.left-arrow {
  margin-right: -5rem;
  font-size: 5rem;
  background-color: transparent;
}
.image-zoom {
  position: relative;
  margin: 0.5rem;
  height: 100%;
  width: 75%;
  background-color: white;
  z-index: 1;
}
.wish-icon-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.6rem 0.6rem 0.3rem 0.6rem;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.wish-icon-box .icon {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.wish-icon-box .icon:hover {
  color: rgb(255, 40, 90);
}

.image-zoom img {
  height: 100%;
  width: 100%;
}
.detail-section {
  height: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.article-name {
  padding: 1rem 0rem;
  margin-top: 3rem;
  background-color: white;
  border-left: 1px solid black;
}
.article-name h2 {
  padding-inline: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.article-description {
  padding: 0.4rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.article-description p {
  padding: 0.4rem 1rem;
  max-width: 23rem;
  font-size: 1rem;
  letter-spacing: 1px;
}
.assurance {
  width: 17rem;
  height: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;
  border-left: 1px solid black;
}
.assurance span {
  font-size: 1rem;
}
.assurance div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.assurance div .verify {
  background-color: whitesmoke;
}
.assurance div .verify-by {
  font-size: 1.5rem;
  text-transform: capitalize;
  background-color: whitesmoke;
}
.verify-icon {
  font-size: 3rem;
}
.article-price {
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.article-price-headline {
  width: 6rem;
  background-color: white;
}
.article-price-headline span {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: white;
}
.article-price-box {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: white;
  align-items: center;
}
.article-price-final {
  font-size: 2rem;
  background-color: white;
}
.article-price-original {
  font-size: 1.5rem;
  text-decoration: line-through;
  background-color: white;
}
.article-price-offer {
  font-size: 1.75rem;
  font-weight: 500;
  color: tomato;
  background-color: white;
}
.article-size {
  height: 5rem;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.article-size-headline {
  padding: 1rem 1rem 1rem 2rem;
  width: 6rem;
  background-color: white;
}
.article-size-headline span {
  font-size: 1.25rem;
  font-weight: 600;
  width: 10rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: white;
}
.article-size-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-size-list .list {
  margin: 0.75rem 0.75rem 0.75rem 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 2.75rem;
  border: 1.5px solid black;
  background-color: white;
  cursor: pointer;
}
.article-size-list .list:hover {
  border: 1.5px solid rgb(81, 221, 0);
}
.article-size-list .list-active {
  margin: 0.75rem 0.75rem 0.75rem 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 2.75rem;
  border: 1.5px solid rgb(250, 99, 94);
  background-color: white;
  cursor: pointer;
}
.article-size-list li span {
  padding: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.article-color {
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}
.article-color-headline {
  padding: 2rem 1rem 1rem 2rem;
  width: 6rem;
  background-color: white;
}
.article-color-headline span {
  font-size: 1.25rem;
  font-weight: 600;
  width: 10rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: white;
}
.article-color div {
  display: flex;
  flex-direction: row;
}
.article-color div li {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.color-chart {
  height: 4rem;
  width: 4rem;
  opacity: 0.75;
  border-radius: 100vw;
  border: 2px solid white;
  cursor: pointer;
}
.color-chart-active {
  height: 4rem;
  width: 4rem;
  opacity: 0.75;
  border-radius: 100vw;
  border: 2px solid gray;
  cursor: pointer;
  transition: 00.45s;
  opacity: 1;
}
.color-chart:hover {
  border: 2px solid rgba(128, 128, 128, 0.596);
  transition: 00.45s;
  opacity: 1;
}
.color-name {
  height: 1.5rem;
  text-transform: capitalize;
}
.color-name-active {
  color: rgb(255, 103, 103);
  font-weight: 600;
  height: 1.5rem;
  text-transform: capitalize;
}
.article-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  border-bottom: 1px solid black;
  background-color: rgb(255, 255, 255);
}
.article-cart-button {
  padding: 1rem 2rem;
  outline: none;
  border: 1.5px solid rgb(0, 0, 0);
  background-color: transparent;
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: capitalize;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
/* .article-cart-button span {
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  vertical-align: middle;
  text-align: center;
  color: black;
} */
.article-cart-button:hover {
  border: 1.5px solid rgb(93, 253, 133);
  background-color: rgb(0, 0, 0);
  color: rgb(93, 253, 133);
  font-weight: 500;
  transition: all 00.35s ease-out;
  box-shadow: 1px 0px 12px -6px rgba(0, 0, 0, 1);
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .image-section {
    height: auto;
    flex-direction: column-reverse;
    gap: 5%;
  }
  .image-portion {
    display: flex;
    height: unset;
    width: unset;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: aquamarine;
  }
  .image-slider {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: rgb(255, 255, 255);
  }
  .image-slider div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 195);
  }
  .image-slider div:hover {
    opacity: 0.75;
  }
  .image-slider div img {
    width: 100%;
    height: 100%;
  }
  .image-loader {
    height: 3rem;
    width: 95%;
    border: none;
    border-bottom: 0.3rem solid black;
  }
  .slide-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
  }
  .slide-area div {
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    transition: all 1s step-end;
  }
  .left-arrow {
    margin: auto;
    transform: rotate(90deg);
    background-color: transparent;
  }
  .image-zoom {
    margin: 0.5rem;
    height: 100%;
    width: 95%;
    background-color: white;
  }
  .detail-section {
    width: 95%;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .image-section {
    height: auto;
    flex-direction: column-reverse;
    gap: 5%;
  }
  .image-portion {
    display: flex;
    height: unset;
    width: unset;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
  }
  .image-slider {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-color: white;
  }
  .image-slider div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .image-slider div:hover {
    opacity: 0.75;
  }
  .image-slider div img {
    width: 100%;
    height: 100%;
  }
  .image-loader {
    height: 3rem;
    width: 95%;
    border: none;
    border-bottom: 0.3rem solid black;
  }
  .slide-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
  }
  .slide-area div {
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all 1s step-end;
  }
  .left-arrow {
    margin: auto;
    transform: rotate(90deg);
    background-color: transparent;
  }
  .image-zoom {
    margin: 0.5rem;
    height: 100%;
    width: 95%;
    background-color: white;
  }
  .image-loader {
    display: none;
    /* height: 3rem;
    width: 100%;
    border: none;
    border-bottom: 0.3rem solid black; */
  }
  .detail-section {
    width: 95%;
  }
}
