.container {
  position: fixed;
  top: 8.1rem;
  right: 0rem;
  float: inline-end;
  padding: 1rem 1rem 1rem 1rem;
  max-height: 70rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}
.cartlist-box {
  padding: 0.5rem 2rem 0.5rem 0rem;
  height: 2rem;
}
.cartlist-box h3 {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
}
.cartlist-item-box {
  margin-top: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 27rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  overflow-y: auto;
  overflow-x: none;
}
/* scoll bar css  */
.cartlist-item-box::-webkit-scrollbar {
  width: 1rem;
}
.cartlist-item-box::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0.35rem;
  border-color: white;
  border-radius: 100vw;
}
.cartlist-item-box::-webkit-scrollbar-thumb {
  border-style: solid;
  border-radius: 100vw;
  border-width: 0.3rem;
  border-color: white;
  /* background-color: aquamarine; */
  background: linear-gradient(45deg, #0575e6, #00f260);
}
.cartlist-item-box::-webkit-scrollbar-thumb:hover {
  border-width: 0.25rem;
  transition: 1s;
}

.cartlist-item {
  padding: 2px;
  height: 8rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
}
.cartlist-item {
  padding: 2px;
  height: 8rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 1px solid gainsboro;
  cursor: pointer;
}

.cartlist-item:hover {
  padding: 1px;
  border: 2px solid rgb(59, 204, 83);
}
.cartlist-item-image {
  padding: 1px;
  height: calc(8rem-2px);
  width: 6rem;
}
.cartlist-item-image img {
  width: 100%;
  height: 100%;
}
.cartlist-item-info {
  margin-left: 0.5rem;
  height: calc(8rem-2px);
  width: 13.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.cartlist-item-info h3 {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.15rem;
  max-height: 3.5rem;
  font-weight: 600;
}
.cartlist-item-size {
  height: 2rem;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  color: grey;
}
.cartlist-item-info div {
  height: 2em;
  padding: 0.25rem 0.5rem 0rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  font-weight: 600;
}
.cartlist-item-button-box {
  margin-left: 0.5rem;
  height: calc(8rem-2px);
  width: 5rem;
}
.cartlist-item-button {
  margin: 2rem 0.25rem 2rem 0.25rem;
  padding: 0.25rem;
  height: 3.5rem;
  width: 5rem;
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.cartlist-item-button span {
  margin-top: 0.5rem;
  padding-top: 0.1rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100vw;
}
.cartlist-item-button span:hover {
  border: 1px solid rgb(190, 190, 190);
  background-color: rgb(235, 235, 235);
  transition: ease-in-out;
  transition-duration: 0.5s;
  font-size: 1.35rem;
}
.cartlist-checkout-box {
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  background-color: white;
}
.cartlist-total-price {
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  height: 2rem;
  font-size: 1.15rem;
  font-weight: 800;
}
.cartlist-shipping-charge {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: rgb(20, 140, 177);
}
.cartlist-checkout {
  padding: 0.5rem;
  height: 2rem;
}
.cartlist-checkout-button {
  height: 3.5rem;
  width: 12rem;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1.5px solid rgb(255, 255, 255);
  outline-style: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.cartlist-checkout-button:hover {
  color: rgb(17, 255, 136);
  border: 1.5px solid rgb(17, 255, 136);
  box-shadow: 1px 0px 12px -6px rgba(0, 0, 0, 1);
  transition: ease-in-out;
  transition-duration: 0.25s;
}
/* responsive breakpoint */
/* responsive css style  */
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding-top: 3rem;
    position: fixed;
    top: 8rem;
    right: 0rem;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    padding-top: 4rem;
    position: fixed;
    top: 6rem;
    right: 0rem;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
}

