.deliver-return {
  margin-block: 5rem;
  margin-inline: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7rem;
}
.deliver-return-box {
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.deiver-return-icon-box {
  height: 3rem;
  text-align: center;
}
.deiver-return-icon {
  font-size: 3rem;
}
.deiver-return-headline {
  padding-block: 0.25rem;
  height: 2rem;
  text-align: center;
}
.deiver-return-headline span {
  padding-block: 0.25rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.deiver-return-detail {
  padding-block: 0.25rem;
  height: 1.5rem;
  text-align: center;
}
.deiver-return-detail span {
  padding-block: 0.25rem;
  font-size: 1rem;
}
/* .quality-assurance {
    background-color: rgb(255, 255, 255);
  } */

/* responsive css style  */
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .deliver-return {
    gap: 4rem;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .deliver-return {
    margin-block: 5rem;
    gap: 3rem;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */

@media (min-width: 320px) and (max-width: 575.98px) {
  .deliver-return {
    margin-block: 5rem;
    gap: 2rem;
  }
}
/* // X-Small devices (portrait phones, less than 320px) */
@media (max-width: 319.98px) {
  .deliver-return {
    margin-block: 5rem;
    gap: 1rem;
  }
}
