.container {
  position: absolute;
  right: 1rem;
  top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  opacity: 1;
  z-index: 1;
}
.container span {
  padding-left: 0rem;
  height: 5rem;
  width: 5rem;
}
.arrow-icon {
  margin-top: -2rem;
  font-size: 5rem;
  color: rgb(246, 246, 246);
}
.list-box {
  margin-top: -4.2rem;
  padding: 0.5rem 2.5rem 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  background: rgb(246, 246, 246);
}
.list-box span {
  padding-left: 20.5rem;
  height: 3rem;
  width: 3rem;
}
.close-icon {
  margin-top: 1rem;
  font-size: 2rem;
  border: 1px solid rgb(246, 246, 246);
  cursor: pointer;
}

.close-icon:hover {
  border: 1px solid black;
  transition-duration: 0.25s;
}
.close-icon:active {
  border: 3px solid rgb(0, 0, 0);
}
.option-button {
  position: relative;
  background: rgb(246, 246, 246);
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0px;
  display: flex;
  width: 21.5rem;
  height: 4rem;
  padding: 0px;
  text-transform: capitalize;
  cursor: pointer;
}
.selection-box {
  height: 1.8rem;
  width: 1.8rem;
  border: 1.3px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin: 0px 1.5rem 0px 0.5rem;
}
.selection-box div {
  margin-top: 00.12rem;
  margin-left: 00.12rem;
  height: 1.3rem;
  width: 1.3rem;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: black;
}
.option-button:active > .selection-box {
  border: 2px solid rgb(0, 0, 0);
}
.option-button:active > .selection-box div {
  margin-top: 00.05rem;
  margin-left: 00.06rem;
}

/* responsive breakpoint */
/* responsive css style  */
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    position: fixed;
    top: unset;
    right: 0rem;
    bottom: 4rem;
    width: 100vw;
    background: rgb(246, 246, 246);
  }
  .list-box {
    width: 80%;
  }
  .list-box span {
    padding-left: 100%;
    margin-bottom: 1rem;
  }
  .option-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}
